* {
  margin: 0;
  padding: 0;
  font-family: 'Teko', sans-serif;
}

body {
  background: linear-gradient(to right, #71D8D0, #9A81DF);
}

header {
  text-align: center;
  color: #333333;
  margin-top: 5%;
}

input {
  border: none;
  background-color: #333333ce;
  padding: 2px 3px;
}

input:focus {
  border: none;
}

header h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: .2em;
  margin-top: 15px;
  color: #333333;
  opacity: 75%;
}

#logo {
  margin: auto;
  margin-bottom: 15px;
  width: 75vw;
  font-size: 4em;
  opacity: 75%;
  text-transform: uppercase;
  letter-spacing: .2em;
  border-bottom: 1px solid white;
}

#generateBtn {
  display: inline-block;
  color: #333333ce;
  background-color: white;
  font-size: 1.5em;
  font-weight: 600;
  padding: 4px 13px;
  margin-top: 10px;
  user-select: none;
}

#generateBtn:hover {
  cursor: pointer;
}

#result {
  text-align: center;
  font-size: 1em;
  letter-spacing: .2em;
  margin-top: 15px;
  color: #333333;
  opacity: 75%;
}